.git
.github
.gitignore
.gitattributes
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
.env
.venv
env/
venv/
ENV/
augmented_dataset/
dataset/
data/
train_augu.py
test_augu.py
augumentation.py
augumentation2.py
*.md
